/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-feb-2018, 10:51:42
    Author     : Juan Béjar
*/






.fila-buffer{
    margin-top: 5rem;

}

.titulo{
    font-family: 'Patua One', cursive;
          margin: 0 auto; 
        float: none;
}



.mi-perfil{
        margin: 0 auto; 
        float: none;
     
}

.boton-der{
    margin-left: 1.5rem;
}


.image-upload > input
{
    display: none;
}
.image-upload img
{
    width: 40px;
    cursor: pointer;
    style:"float:right";
}
