@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.intro{
    background:url(https://images3.alphacoders.com/239/239007.jpg);
    height:100%;
    width:100%;
    margin: auto;
    display:table;
    top:0;
    background-size:cover;
    
}

.intro .inner {
    height: 20%;
    display: table-cell;
    vertical-align:middle;
    
}

.content {
    max-width:500px;
    margin: 0 auto;
    text-align:center;
}
.content h1{
    font-family: 'Raleway',sans-serf;
    color: #F9F3F4;
        font-size: 175%;
    text-shadow: 0px 0px 300px #000;
    foont-size: 500%;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald',sans-serif;
    color: #F9F3F4;
    font-size: 135%;
    padding: 10px 20px;
    border:solid #F9F3F4 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;
    
}